<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const conversation_id = "<%= roomName %>";
    const username = "<%= session.username %>";
    const user_id = "<%= session._id %>";
  </script>
  <script defer src="http://localhost:3001/socket.io/socket.io.js"></script>
  <script defer src="../script.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }

    #message-container {
      width: 80%;
      max-width: 1200px;
    }

    #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: white;
      max-width: 1200px;
      width: 80%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
    }
  </style>
</head>
<body>
  <div id="message-container">
    <div class="message">
      <% chat.chat.forEach(function(message){ %>
        <% if(message.user_id == session._id){ %>
          <p class="">k<%= message.username %><span> <%= message.time %></span></p>
          <p class="text"><%= message.text %></p>
        <% } else { %>
          <p class=""><%= message.username %><span> <%= message.time %></span></p>
          <p class=""><%= message.text %></p>
        <% } %>
      <% }); %>
    </div>
  </div>
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>
  </form>
</body>
</html>